<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container">
	
	<div class="card bg-light">
		<div class="card-header" th:text=${titulo}>
		</div>
		<div class="card-body">
			
			<h5 class="card-title">
				<a class="btn btn-warning" th:href="@{/ver/} + ${factura.cliente.id}" th:text="'Volver al detalle'"></a>
			</h5>

			<div class="container form-group">
				<form th:action="@{/factura/form/}" th:object="${factura}" method="post">
					
					<div class="row">
						<div class="col-4"><label for="">Cliente</label></div>
						<div class="col-8">
							<p th:text="${factura.cliente.nombre}+' '+${factura.cliente.apellido}" class="form-control"></p>
						</div>
					</div>
					
					<div class="row">
						<div class="col-4"><label for="">Descripción</label></div>
						<div class="col-8">
							<input type="text" th:field="*{descripcion}" class="form-control">
						</div>
					</div>

					<div class="row">
						<div class="col-4"><label for="">Comentarios</label></div>
						<div class="col-8">
							<textarea name="observacion" th:field="*{observacion}" class="form-control"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="col-4"><label for="">Buscar producto</label></div>
						<div class="col-8">
							<input type="text" name="buscar_producto" id="buscar_producto" class="form-control">
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<table th:replace="factura/plantilla-items :: itemsFactura"></table>
						</div>
					</div>
					
					<div class="row">
						<div class="col-12">
							<table id="cargarItemProductos" class="table table-sm table-striped table-hover">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Precio</th>
										<th>Cantidad</th>
										<th>Total</th>
										<th>Eliminar</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
							<hr>
							<h5>Total: &nbsp;<span class="badge badge-secondary" id="gran_total">0</span></h5>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-12 text-right">
							<input type="submit" th:value="${titulo}" class="btn btn-primary">
						</div>
					</div>

				</form>					
			</div>		
		</div>
	</div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
<script type="text/javascript" th:replace="factura/js/autocomplete-productos :: acp_javascript"></script>
</body>
</html>